<h1>Update Hours</h1>
<br>

<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_for @hours, url: {action: "create"} do |f| %>

  <%= f.text_area :content, :rows => 5, :cols => 30, :placeholder => "EX: Monday - Friday 10 am - 5 pm" %>

  <br>

  <%= f.submit 'Update', class: "button-g" %>

<% end %>



