<div class="page-title">
  <h2>Welcome, <%=current_user.name %>!</h2>
  <br>
  <h3>It's <%= Time.now.to_s(:month_day_year) %>.</h3>
  <br>
  <h3> <-- Use the links on the left to update the site. </h3>
  <br>
  <div class="link-descriptions">
    <h3><span class="underline">Update Photos:</span> upload, edit, delete photos in the Gallery</h3>
    <br>
    <h3><span class="underline">Add an Update:</span> add a text update to home page</h3>
    <br>
    <h3><span class="underline">Update Hours:</span> edit hours of operation shown in box on home page</h3>
    <br>
    <h3><span class="underline">In Season Now:</span> upload, edit, delete photos & info about produce that's in season now</h3>
    <br>
    <h3><span class="underline">Subscribers:</span> view list of subscribers' emails</h3>
    <br>
    <h3><span class="underline">Admins:</span> update, edit, delete list of users with admin access</h3>
  </div>

</div>



