<div class="page-title">
  <h2>About Us</h2>
</div>
<hr />

<div class="text">
  <%= image_tag('kenlaura.png', :class => "aboutus") %>
  <br>
  <h3>Larken Farms began in 2000 as a hobby for Ken & Laura Jo Halverson to try out their "green thumb" at growing peaches. What started as a hobby has now turned into a full time orchard!</h3>
  <br>
  <h3>Larken Farms has over 10,000 trees with 30 varieties of Texas and California peaches, Santa Rosa plums, Hosul Asian pears, several hundred blackberry bushes, and more.</h3>
  <br>
  <h3>We also have a garden which produces a variety of home-grown vegetables. While we are not "certified" as organic growers, we practice organic methods for growing all of our fruits and vegetables.</h3>
  <br>
  <h3>Feel free to contact us using the contact form, and make sure to visit us soon!</h3>
  <br>
  <h3 id="names"> - Ken & Laura Jo</h3>
</div>