
<div class="page-title">
  <h2>Frequently Asked Questions</h2>
</div>
<hr />
<br>

<div class="text">
  <h3>How are your fruits and vegetables priced?</h3>
  <h4>We typically price our produce by the pound. Some veggies will be priced by the bunch or by the basket. For questions or specific pricing, contact us via email.</h4>
  <br>

  <h3>How many trees do you have?</h3>
  <h4>We currently have a total of 10,000 trees in our orchard...and I don't think we're done yet! We are planting 500-1,000 trees per year.</h4>
  <br>

  <h3>What do we wear for PYO?</h3>
  <h4>You can dress as the weather dictates. If you're planning to do PYO, you'll be walking in the orchard and garden, so please wear closed-toe shoes. If weather is questionable, please check our website before making the drive.</h4>
  <br>

  <h3>Do you provide buckets/baskets/bags for PYO?</h3>
  <h4>Yes, we provide buckets/baskets/bags for PYO based on how much you plan to pick. If you have a favorite you use for your produce, you are welcome to bring it.</h4>
  <br>

  <h3>How do we pay?</h3>
  <h4>We accept cash, check, or credit card.</h4>
  <br>

  <h3>Do you sell snacks or beverages?</h3>
  <h4>We do sell bottled water.</h4>
  <br>

  <h3>Do you have places to sit down?</h3>
  <h4>Yes, there are picnic tables and chairs available near the fruit barn.</h4>
  <br>

  <h3>Can we bring our own food?</h3>
  <h4>Yes, feel free to bring snacks or a picnic lunch.</h4>
  <br>

  <h3>Is there anything else fun to see or do in Waxahachie?</h3>
  <h4>Waxahachie's downtown square area has several restaurants and unique shopping opportunities. Be sure to check it out!</h4>

</div>