<div class="page-title">
  <h1>Frequently Asked Questions</h1>
</div>
<br>
<div class="text">
  <h2>How are your fruits and vegetables priced?</h2>
  <h3>Almost everything is priced by the pound. If you would like to know prices for a particular item, please email us.</h3>
  <br>

  <h2>How many trees do you have?</h2>
  <h3>.....</h3>
  <br>

  <h2>What do we need to bring to pick our own fruit?</h2>
  <h3>.....</h3>
  <br>

  <h2>What do we wear?</h2>
  <h3>.....</h3>
  <br>

  <h2>Do you provide buckets to put our picked fruits in?</h2>
  <h3>Yes, we provide buckets.</h3>
  <br>

  <h2>Do you sell snacks or beverages?</h2>
  <h3>We do sell bottled water, but we cannot sell food yet.</h3>
  <br>

  <h2>Do you have places to sit down?</h2>
  <h3>Yes, there are picnic tables located in the barn....</h3>
  <br>

  <h2>Can we bring our own food?</h2>
  <h3>Yes, of course.</h3>
  <br>

  <h2>Is there anything else fun to see/do in Waxahachie?</h2>
  <h3>.....</h3>

</div>