<div class="title">
  <h1>Photo Gallery</h1>
</div>


<!-- Data-lightbox = category
Data-title = caption (optional) -->



  <a href="images/ken.jpg" data-lightbox="farm" data-title="Ken">Image #1</a>
  <a href="images/dog.jpg" data-lightbox="farm" data-title="Dog">Image #2</a>