<div class="title">
  <h1>Our Peach Varieties</h1>
</div>

<section class="holder">
  <div id="card">
    <figure class="front"><%= image_tag('redskin.jpg') %><h3>Redskin Peach</h3></figure>
    <figure class="back"><h3>Redskin Peach Facts:</h3>
      <br>
      <ul>
        <li>This popular peach ripens after 'Elberta.'</li>
        <li>It has good red color and handles well.</li>
        <li>Excellent for freezing, canning, and eating fresh.</li>
      </ul>
    </figure>
  </div>
</section>

<div class="img">
  <%= image_tag('loring.jpg', size: "300x200") %>
  <div class="desc">Loring Peach</div>
</div>

<div class="img">
  <%= image_tag('elberta.jpg', size: "300x200") %>
  <div class="desc">Elberta Peach</div>
</div>

<div id="peach-list">
    <h2>Cling Peaches:</h2>
      <h3>Redskin</h3>
      <h3>Loring</h3>
      <h3>Monroe</h3>
      <h3>Elberta</h3>
      <h3>Carol Red</h3>
      <h3>Flovorich</h3>
      <h3>Regal</h3>
      <h3>Carson</h3>
      <h3>Ceres Carson</h3>
      <h3>Loadel</h3>
    <br>
    <h2>Freestone:</h2>
      <h3>Harvester</h3>
      <h3>Majestic</h3>
      <h3>Sentinel</h3>
      <h3>Dixieland</h3>
      <h3>Redglobe</h3>
      <h3>Bounty</h3>
      <h3>Redhaven</h3>
      <h3>Earlirich</h3>
      <h3>Earlitreat</h3>
      <h3>Super Rich</h3>
      <h3>Super Lady</h3>
      <h3>Vista Peach</h3>
      <h3>Spring Treat</h3>
      <h3>Rich Lady</h3>
    <br>
    <h2>White Flesh:</h2>
      <h3>Snow Angel</h3>
      <h3>Spring Snow White</h3>
      <h3>Sauzee Queen</h3>
      <h3>White Lady</h3>
</div>