<div class="page-title">
  <h2>Come Pick your Own Fruit!</h2>
</div>
<hr />

<br>

<div class="text">
  <h3>What to know for farm visit and Pick Your Own (PYO):</h3>
  <br>
    <ul>
      <li><h4>We provide baskets/sacks, but if you have something else you prefer to use, feel free to bring it.</h4></li>
      <li><h4>If you prefer to wear gloves, please bring your own.</h4></li>
      <li><h4>You will be walking through the orchard and in the garden, so we require wearing closed-toe shoes.</h4></li>
      <li><h4>If weather is an issue, please check out website before heading this way.</h4></li>
      <li><h4>We ask that you pick, pay, then ENJOY your produce!</h4></li>
    </ul>
    <br>
      <h3>Thanks so much for visiting Larken Farms Orchard!</h3>
</div>