<div class="page-title">
  <h1>Come Pick your Own Fruit!</h1>
</div>

<br>

<div class="text">
  <h2>What to know for farm visit and Pick Your Own (PYO):</h2>
  <br>
    <ul>
      <li><h3>We provide baskets/sacks, but if you have something else you prefer to use, feel free to bring it.</h3></li>
      <li><h3>If you prefer to wear gloves, please bring your own.</h3></li>
      <li><h3>You will be walking through the orchard and in the garden, so we require wearing closed-toe shoes.</h3></li>
      <li><h3>If weather is an issue, please check out website before heading this way.</h3></li>
      <li><h3>We ask that you pick, pay, then ENJOY your produce!</h3></li>
    </ul>
    <br>
      <h2>Thanks so much for visiting Larken Farms Orchard!</h2>
</div>