<div class="title">
  <h1>Come Pick your Own Fruit!</h1>
</div>

<br>

<div class="text">
  <h2>How it works:</h2>
    <ul>
      <li>......</li>
      <li>.......</li>
      <li>.......</li>
      <li>.......</li>
      <li>.......</li>
      <li>.......</li>
      <li>.......</li>
      <li>.......</li>
    </ul>
</div>