<div class="page-title">
  <h1>What we grow:</h1>
</div>

<section class="holder">
  <div id="card">
    <figure class="front"><%= image_tag('redskin.jpg') %><h3>Redskin Peach</h3></figure>
    <figure class="back"><h3>Redskin Peach Facts:</h3>
      <br>
      <ul>
        <li>This popular peach ripens after 'Elberta.'</li>
        <li>It has good red color and handles well.</li>
        <li>Excellent for freezing, canning, and eating fresh.</li>
      </ul>
    </figure>
  </div>
</section>

<div class="img">
  <%= image_tag('loring.jpg', size: "300x200") %>
  <div class="desc">Loring Peach</div>
</div>

<div class="img">
  <%= image_tag('elberta.jpg', size: "300x200") %>
  <div class="desc">Elberta Peach</div>
</div>

<div id="peach-list">
    <h2>Cling Peaches:</h2>

    <br>
    <h2>Freestone:</h2>

    <br>
    <h2>White Flesh:</h2>

</div>