<!-- ALL UPDATES (TO APPEAR ON HOME PAGE) -->

<div id="updates-table">
  <table>
    <thead>
      <tr>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @updates.each do |update| %>
        <tr>
          <td class="new-update"><%= update.created_at.strftime("%A, %B %e, %Y") %></td>
        </tr>
        <tr>
          <td class="new-update"><%= update.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


