<h1>Add a new update</h1>
<br>

<%= form_for @update do |f| %>

  <%= f.text_area :content, rows: 10, cols: 50, :placeholder => "update...."%>
  <br>
  <%= f.submit 'Submit', class: "button-g" %>

<% end %>




