  <h1>Subscribers</h1>

  <table>
    <thead>
      <tr>
        <th>Emails</th>
      </tr>
    </thead>

    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.email %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
