/*
 *= require_tree .
 *= require_self
*/

/* Remove default margin and padding from every element */
* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* ADDED FOR CONTACT FORM: */
.hidden {
  display: none;
}

/* ADDED FOR FOOTER: */
html, body {
  height: 100%;
}

body {
  background-image: image-url('sack.jpg');
  background-size: cover;
}

#header {
  text-align: center;
  position: relative;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background: image-url('orange-cover.jpg') center right no-repeat;
  background-size: cover;
}

.banner {
  width: 100%;
  height: 100%;
  position: inherit;
  z-index: 1;
}

#title {
  font-family: MarkerFelt-Thin;
  font-size: 52px;
  color: #FFFFFF;
  line-height: 52px;
  text-align: center;
  padding-top: 70px;
}

#navbar ul {
  background-color: #DD8938;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  position: relative;
  margin: 40px auto 0;
  width: 1000px;
  list-style-type: none;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: MarkerFelt-Thin;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 0;
}

#navbar a:hover {
  background-color: #ae651e;
}

#navbar a.selected {
  background-color: #57320f;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  width: 50%;
}

#content {
  /*text-align:center;*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  margin: 0 auto -140px;
  background-color: white;
  padding: 20px;
  margin-bottom: -100px;
}

#content:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 100px;
}

footer {
  background: linear-gradient(to top, #4c9b5e, white);
  width: 1000px;
  margin: 0 auto;
}

.media {
  position: absolute;
  right: 100px;
  top: 75px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.title {
  margin-top: 25px;
  margin-left: 100px;
}


/*******FORM:*****************************/

.farm_form {
  fieldset {
    background: #efe;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
      margin-left: 20px;
    }
  }

  form {

    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 10em;
    }

    br {
      display: none
    }
  }
}

.field {
  margin-top: 10px;
}


/* HOME PAGE: ************************************ */

section#home
  #slideshow {
    margin: 0 auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
  }

  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .cover-photo {
    margin: 0 auto;
    border: 4px solid #7C3328;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  }

 .boxes {
    position: relative;
    top: 250px;
    text-align: justify;
 }

  .box1, .box2, .box3 {
    width: 200px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
  }

  .boxes:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .box {
  background: #D18C33;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  text-align: center;

  }

  /* LINKS: */

  .boxes a {
    text-decoration: none;
  }

  #home p {
  font-family: MarkerFelt-Thin;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 27px;
  text-decoration: none;
  }

/* ORDERING/PRODUCT CATALOG */

.products {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background: white;
  }

  .list_line_odd {
    background: #bfb;
  }
}

/* SIDEBAR */

.carts, #side #cart {
  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}

/* STORE */

#main {
  /*text-align:center;*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 800px;
  margin: 0 auto -140px;
  background-color: white;
}

.store {
  h1 {
    margin-left: 25%;
    padding-bottom: 0.5em;
    font:  150% sans-serif;
    color: black;
    border-bottom: 4px solid black;
  }



  /* An entry in the store catalog */

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 2px solid black;
    min-height: 100px;
    margin-left: 25%;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: black;
    }

    h5 {
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: black;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;

      form, div {
        display: inline;
      }
    }

    .price {
      color: black;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}


/* ADDED: */

#columns {
  background: #4c9b5e;

  #side {
    float: left;
    padding: 1em 2em;
    width: 20em;
    background: #4c9b5e;
    margin: 0 auto;

    input {
      font-size: small;
    }

    #cart {
      font-size: large;
      color: white;

      table {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #bfb;
          font-size: 25px;
          font-family: MarkerFelt-Thin;
          text-decoration: none;
          line-height: 2.0;
        }
      }
    }
  }
}


/* ABOUT US PAGE */

.aboutus {
  float: left;
  margin: 20px;
}

.text {
  margin-left: 40px;
  margin-right: 40px;
}

/* CONTACT FORM  */

#new_contact {
  margin-top: 50px;
  margin-left: 50px;
}

label {
  font-family: sans-serif;
}

.container {
  margin-left: 50px;
}

.hours {
  float: right;
  text-align: center;
  position: absolute;
  top: 300px;
  right: 400px;
  padding: 20px;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  background-color: #DD8938;
  color: white;
}

/* LOCATION: ******************************* */
.location {
  float: left;
  margin-left: 100px;
  margin-top: 25px;
  padding: 10px;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  background-color: #DD8938;
  color: white;
}

iframe {
  float: left;
  margin-left: 100px;
  margin-top: 25px;
}