
//  *= require_tree .
//  *= require_self
// */

/* Remove default margin and padding from every element */
* {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* ADDED FOR CONTACT FORM: */
.hidden {
  display: none;
}

/* ADDED FOR FOOTER: */
html, body {
  height: 100%;
}

body {
  background-image: image-url('sack.jpg');
  background-size: cover;
}

#header {
  text-align: center;
  position: relative;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background: image-url('orange-cover.jpg') center right no-repeat;
  background-size: cover;
}

.banner {
  width: 100%;
  height: 100%;
  position: inherit;
  z-index: 1;
}

#title {
  font-family: MarkerFelt-Thin;
  font-size: 52px;
  color: #FFFFFF;
  line-height: 52px;
  text-align: center;
  padding-top: 70px;
}

// NAVBAR ####################################
#navbar ul {
  background-color: #DD8938;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  position: relative;
  margin: 40px auto 0;
  width: 1000px;
  list-style-type: none;
}
#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: MarkerFelt-Thin;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 0;
}

#navbar a:hover {
  background-color: #ae651e;
}

#navbar a.selected {
  background-color: #57320f;
}
// ################################################

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  width: 50%;
}

// YIELD CONTENT: #####################
#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  margin: 34px auto -140px;
  background-color: white;
  padding: 20px;
  margin-bottom: -100px;
  position: relative;
}

#content:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 200px;
}

footer {
  background: linear-gradient(to top, #4c9b5e, white);
  width: 1000px;
  margin: 0 auto;
}

/* HOME PAGE: ************************************ */
section#home {
  position: relative;
}

section#home
  #slideshow {
    margin: 0 auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
  }

  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .cover-photo {
    margin: 0 auto;
    border: 4px solid #7C3328;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  }

 .boxes {
    position: relative;
    top: 250px;
    text-align: justify;
 }

  .box1, .box2, .box3 {
    width: 200px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
  }

  .boxes:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .box {
    background: #D18C33;
    border: 4px solid #7C3328;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 8px;
    text-align: center;

  }

/* HOME PAGE LINKS: */

  .boxes a {
    text-decoration: none;
  }

  #home p {
    font-family: MarkerFelt-Thin;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 27px;
    text-decoration: none;
  }

// FACEBOOK LOGO: ##########################
.media {
  position: absolute;
  right: 20px;
  top: 20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

// .title {
//   margin-top: 25px;
//   margin-left: 100px;
// }

// MAILING LIST BOX: #########################
.mailing_list {
  float: left;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 30px;
  padding: 20px;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  background-color: #DD8938;
  color: white;
}

#join {
  color: white;
  border-radius: 12px;
  width: 100px;
  height: 25px;
  font-size: 120%;
  font-weight: bold;
  box-shadow: 4px 4px 2px #4c9b5e;
  background: radial-gradient(#bfb, #4c9b5e);
  border-style: none;
}

#email {
  font-size: 120%;
}


// FORMS:*****************************/

.farm_form {
  fieldset {
    background: #efe;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
      margin-left: 20px;
    }
  }

  form {

    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 10em;
    }

    br {
      display: none
    }
  }
}

.field {
  margin-top: 10px;
}

/* STORE (CUSTOMER VIEW): ############################# */

.store {
  width: 75%;
  position: absolute;
  right: 50px;
}

.store {
  h1 {
    margin-left: 25%;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-bottom: 4px solid #4c9b5e;
  }

  /* An entry in the store catalog */

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 2px dotted black;
    min-height: 100px;
    margin-left: 25%;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: black;
    }

    h5 {
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: black;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;

      form, div {
        display: inline;
      }
    }

    .price {
      color: black;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}

/* CART CONTAINER */

.carts, #side #cart {
  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {

    font-weight: bold;
    border-top: 2px solid black;
  }
}

#side {
    float: left;
    padding: 1em 2em;
    width: 250px;
    background: radial-gradient(#4c9b5e, #bfb);
    margin: 0 auto;
    position: absolute;
    left: 25px;
    top: 100px;
    border: 4px solid #4c9b5e;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);

    input {
      font-size: medium;
      font-family: 'Roboto', sans-serif;
      border: 3px solid #4c9b5e;
      border-radius: 12px;
      background: white;
      padding: 5px;
      margin-top: 5px;

    input:hover {
      background: green;

    }
  }
}

    #cart {
      font-family: 'Roboto', sans-serif;
      font-size: large;
      color: black;

      table {
        border-top: 2px solid black;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: white;
          font-size: 25px;
          font-family: MarkerFelt-Thin;
          text-decoration: none;
          line-height: 2.0;
        }
      }
}


// ADMIN SIDEBAR: #####################

#admin-content {
    // float: left;
    padding: 1em 2em;
    // width: 250px;
    background: radial-gradient(#4c9b5e, #bfb);
    // margin: 0 auto;
    // position: absolute;
    // left: 25px;
    // top: 100px;
    border: 4px solid #4c9b5e;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    position: fixed;
    margin-left: 30px;

    input {
      font-size: medium;
      font-family: 'Roboto', sans-serif;
      border: 3px solid #4c9b5e;
      border-radius: 12px;
      background: white;
      padding: 5px;
      margin-top: 5px;

    input:hover {
      background: green;
    }
  }
}

/* PRODUCT CATALOG: ############################# */

.products {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background: white;
  }

  .list_line_odd {
    background: #bfb;
  }
}


/* ABOUT US PAGE */

.aboutus {
  float: left;
  margin: 20px;
}

.text {
  margin-left: 40px;
  margin-right: 40px;
}

/* LOCATION: ########################### */
.location {
  float: left;
  margin-left: 100px;
  margin-top: 25px;
  padding: 10px;
  border: 4px solid #7C3328;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  background-color: #DD8938;
  color: white;
}

iframe {
  float: left;
  margin-left: 100px;
  margin-top: 25px;
}

/* CONTACT FORM  */

#new_contact {
  margin-top: 50px;
  margin-left: 50px;
}

label {
  font-family: sans-serif;
}

.container {
  margin-left: 50px;
}

// .hours {
//   float: right;
//   text-align: center;
//   position: absolute;
//   top: 45px;
//   right: 200px;
//   padding: 20px;
//   border: 4px solid #7C3328;
//   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
//   background-color: #DD8938;
//   color: white;
// }

// CARDS

.holder {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid black;
}

#card .front {
  // background: image-url('redskin.jpeg');
  text-align: center;
}

#card .back {
  background: green;
  color: white;
  text-align: center;
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}

// IMAGE GALLERY
div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#peach-list {
  position: absolute;
  right: 25%;
}

// .fb-post {
//   position: absolute;
//   top: 200px;
//   margin: 0 auto;
// }